<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="dark"> All Offices </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <app-office-item
      [office]="office"
      [staffMembersCount]="getStaffMembersCount(office)"
      [navigateToDetail]="true"
      *ngFor="let office of offices"
    >
    </app-office-item>
  </ion-list>
  <ion-nav-link
    [component]="nextComponent"
    [componentProps]="{ office: null, isEdit: false }"
  >
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-nav-link>
</ion-content>
