ion-title{
    font-size: 28px;
    font-weight: 600;
    margin-top: 60px;
}

ion-fab-button{
    width: 64px;
    height: 64px;
    --background: #0D4477;

    ion-icon{
        width: 36px;
        height: 36px;
    }
}