<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-nav-link routerDirection="back">
        <ion-button color="primary" fill="clear">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-nav-link>
    </ion-buttons>
    <ion-title *ngIf="isEdit">Edit Office</ion-title>
    <ion-title *ngIf="!isEdit">New Office</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item mode="ios" lines="none" class="ion-no-padding">
        <ion-input
          type="text"
          formControlName="name"
          mode="ios"
          autocomplete="false"
          autocapitalize="false"
          placeholder="Office Name"
          maxLength="40"
        ></ion-input>
      </ion-item>
      <ion-item mode="ios" lines="none" class="ion-no-padding">
        <ion-input
          type="text"
          formControlName="physicalAddress"
          mode="ios"
          autocomplete="false"
          autocapitalize="false"
          placeholder="Physical Address"
          maxLength="40"
        ></ion-input>
      </ion-item>
      <ion-item mode="ios" lines="none" class="ion-no-padding">
        <ion-input
          type="text"
          formControlName="emailAddress"
          mode="ios"
          autocomplete="false"
          autocapitalize="false"
          placeholder="Email Address"
          maxLength="40"
        ></ion-input>
      </ion-item>
      <ion-item mode="ios" lines="none" class="ion-no-padding">
        <ion-input
          type="text"
          formControlName="phoneNumber"
          mode="ios"
          autocomplete="false"
          autocapitalize="false"
          placeholder="Phone Number"
          maxLength="40"
        ></ion-input>
      </ion-item>
      <ion-item mode="ios" lines="none" class="ion-no-padding">
        <ion-input
          type="text"
          formControlName="maximumCapacity"
          mode="ios"
          autocomplete="false"
          autocapitalize="false"
          placeholder="Maximum Capacity"
          maxLength="40"
        ></ion-input>
      </ion-item>
      <ion-label> Office Colours </ion-label>
      <ion-item-group class="card-container">
        <ion-card *ngFor="let colour of colours" (click)="selectColour(colour.colour)">
          <ion-avatar [ngStyle]="{'background': colour.colour}" [ngClass]="{ active: colour.colour === selectedColour }">
          </ion-avatar>
        </ion-card>
      </ion-item-group>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button
        *ngIf="!isEdit"
        mode="ios"
        class="default-button"
        color="primary"
        fill="solid"
        (click)="addOffice()"
      >
        Add Office
      </ion-button>
      <ion-button
        *ngIf="isEdit"
        mode="ios"
        class="default-button"
        color="primary"
        fill="solid"
        (click)="updateOffice()"
      >
        Update Office
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
