<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-nav-link routerDirection="back">
        <ion-button color="primary" fill="clear">
          <ion-icon
            slot="icon-only"
            src="/assets/icon/arrow-left.svg"
          ></ion-icon>
        </ion-button>
      </ion-nav-link>
    </ion-buttons>
    <ion-title class="ion-no-padding">Office</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-office-item
    [office]="office"
    [staffMembersCount]="staffMembers?.length"
    [navigateToDetail]="false"
  >
  </app-office-item>
  <ion-searchbar
    mode="ios"
    placeholder="Search"
    (ionChange)="searchStaff($event)"
  ></ion-searchbar>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="staff-members" color="dark">
        Staff Members in Office
      </ion-label>
      <ion-label class="staff-members-count" color="dark" slot="end">
        {{ staffMembers?.length }}
      </ion-label>
    </ion-item>
    <app-staff-member
      [staffMember]="staffMember"
      *ngFor="let staffMember of staffMembers | searchFilterPipe: searchString"
    >
    </app-staff-member>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addStaffMember()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer> </ion-footer>
