ion-list {
  width: 100%;
  background: #ffff;
  border-radius: 0 8px 8px 0;
}

ion-icon {
  width: 17px;
}

ion-item {
  --background: #ffff;
}

.divider {
  border-bottom: 0.4px solid #0D4477;
  margin: 0 16px 0 22px;
  opacity: 0.4;
}
.office-block {
  display: flex;
  margin: 16px;
  border: solid 1px #e8f3fc;
  border-left: none;
  border-radius: 8px;
}

img {
  width: 12px;
  object-fit: cover;
}

.office-name {
  font-weight: 800;
  font-size: 24px !important;
}

.staff-amount {
  margin-left: 12px;
  font-size: 12px;
}

.more-info-group {
  display: flex;
  justify-content: center;
  margin-top: 14px;

  ion-text {
    font-size: 12px;
    margin-right: 12px;
  }
}

.colour-patern{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colour-strip{
  width: 12px;
  height: 100%;
}

.colour1{
  border-top-left-radius: 8px;
}

.colour2{
  opacity: 0.8;
}

.colour3{
  border-bottom-left-radius: 8px;
  opacity: 0.5;
}
