<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="primary" fill="clear">
        <ion-icon slot="icon-only" src="/assets/icon/arrow-left.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding ion-text-wrap">
      <div style="white-space: normal">
        Are you sure you want to Delete Staff Member?
      </div></ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item lines="none">
    <ion-button
      color="danger"
      class="default-button"
      (click)="deleteStaffMember()"
      >Delete Staff Member</ion-button
    >
  </ion-item>
  <ion-item lines="none">
    <ion-button
      fill="clear"
      class="default-button"
      shape="round"
      (click)="keepStaffMember()"
      >Keep Staff Member</ion-button
    >
  </ion-item>
</ion-list>
