<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="primary" fill="clear">
        <ion-icon
          slot="icon-only"
          src="/assets/icon/close-circle.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" *ngIf="isEdit">Edit Staff Member</ion-title>
    <ion-title class="ion-no-padding" *ngIf="!isEdit">New Staff Member</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" style="margin-top: 24px">
    <ion-item mode="ios" lines="none" class="ion-no-padding">
      <ion-input
        type="text"
        formControlName="firstName"
        mode="ios"
        autocomplete="false"
        autocapitalize="false"
        placeholder="First Name"
        maxLength="40"
      ></ion-input>
    </ion-item>
    <ion-item mode="ios" lines="none" class="ion-no-padding">
      <ion-input
        type="text"
        formControlName="lastName"
        mode="ios"
        autocomplete="false"
        autocapitalize="false"
        placeholder="Last Name"
        maxLength="40"
      ></ion-input>
    </ion-item>
  </form>
  <app-steps-indicator
    [stepsAmount]="2"
    [currentStep]="1"
    [currentStepDone]="form.valid"
  ></app-steps-indicator>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button
        mode="ios"
        class="default-button"
        color="primary"
        fill="solid"
        (click)="next()"
        [disabled]="form.invalid"
      >
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
