.circle-done {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #489dda;
  background-color: #489dda;
}

.circle-todo {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #489dda;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #489dda;
}
